chatmodel.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-message",
        "options": {}
      },
      "id": "WebhookTrigger",
      "name": "When chat message received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {},
      "id": "AIAgent",
      "name": "AI Agent",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [450, 300],
      "alwaysOutputData": true,
      "notes": "Uses OpenAI to generate a reply"
    },
    {
      "parameters": {
        "returnData": "={{ $json[\"text\"] }}"
      },
      "id": "ReturnNode",
      "name": "Return AI Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "temperature": 0.7,
        "systemMessage": "You are a helpful assistant.",
        "prompt": "={{ $json.body.message }}"
      },
      "id": "ChatModel",
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAiChat",
      "typeVersion": 1,
      "position": [450, 450],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAI Account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Return AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "sub": [
        [
          {
            "node": "OpenAI Chat Model",
            "type": "chatModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "AI Chat Workflow",
  "active": false
}
